/* Reset básico para garantir cobertura total */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

/* Remove highlights de toque no mobile */
* {
  -webkit-tap-highlight-color: transparent;
}
